.modal {

    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4);

    &__content {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        width: 30%;
        height: 70%;
        overflow-x: hidden;
        overflow-y: auto;
        margin: 0 auto;
        padding: 15px;
        padding-bottom: 0;
        border-radius: 6px;

        &__title {
            font-weight: 500;
            font-size: 35px;
        }

        &__form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            &--docn {
                
                width: 340px;
                height: 40px;
                padding: 5px;
                font-weight: 400;
                font-size: 20px;
                border-radius: 4px;
                margin-bottom: 15px;
                outline: none;
                border: 2px solid #e2e2e2;
                background-color: white;

                &:hover, &:active {
                    outline: none;
                    border: 2px solid #0149A7;
                }
            }

            &--docd {
                width: 340px;
                padding: 5px;
                font-weight: 400;
                font-size: 20px;
                border-radius: 4px;
                margin-bottom: 15px;
                height: 200px;
                outline: none;
                border: 2px solid #e2e2e2;
                background-color: white;

                &:hover, &:active {
                    outline: none;
                    border: 2px solid #0149A7;
                }

            }

            &--btngroup {
                width: 123%;
                height: 60px;
                margin-top: 5px;

                background-color: #EFF1F4;
                display: flex;
                align-items: center;
                justify-content: center;

            }
        }
    }
}