table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.view:hover {
  cursor: pointer;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}
